NotificationsApi/FirebasePushApi/__pycache__/__init__.cpython-310.pyc
NotificationsApi/FirebasePushApi/__pycache__/admin.cpython-310.pyc
NotificationsApi/FirebasePushApi/__pycache__/apps.cpython-310.pyc
NotificationsApi/FirebasePushApi/__pycache__/models.cpython-310.pyc
NotificationsApi/FirebasePushApi/__pycache__/utils.cpython-310.pyc
NotificationsApi/FirebasePushApi/__pycache__/views.cpython-310.pyc
NotificationsApi/FirebasePushApi/migrations/__init__.py
NotificationsApi/FirebasePushApi/migrations/__pycache__/__init__.cpython-310.pyc
NotificationsApi/static/admin/css/autocomplete.css
NotificationsApi/static/admin/css/base.css
NotificationsApi/static/admin/css/changelists.css
NotificationsApi/static/admin/css/dark_mode.css
NotificationsApi/static/admin/css/dashboard.css
NotificationsApi/static/admin/css/forms.css
NotificationsApi/static/admin/css/login.css
NotificationsApi/static/admin/css/nav_sidebar.css
NotificationsApi/static/admin/css/responsive_rtl.css
NotificationsApi/static/admin/css/responsive.css
NotificationsApi/static/admin/css/rtl.css
NotificationsApi/static/admin/css/widgets.css
NotificationsApi/static/admin/css/vendor/select2/LICENSE-SELECT2.md
NotificationsApi/static/admin/css/vendor/select2/select2.css
NotificationsApi/static/admin/css/vendor/select2/select2.min.css
NotificationsApi/static/admin/img/calendar-icons.svg
NotificationsApi/static/admin/img/icon-addlink.svg
NotificationsApi/static/admin/img/icon-alert.svg
NotificationsApi/static/admin/img/icon-calendar.svg
NotificationsApi/static/admin/img/icon-changelink.svg
NotificationsApi/static/admin/img/icon-clock.svg
NotificationsApi/static/admin/img/icon-deletelink.svg
NotificationsApi/static/admin/img/icon-no.svg
NotificationsApi/static/admin/img/icon-unknown-alt.svg
NotificationsApi/static/admin/img/icon-unknown.svg
NotificationsApi/static/admin/img/icon-viewlink.svg
NotificationsApi/static/admin/img/icon-yes.svg
NotificationsApi/static/admin/img/inline-delete.svg
NotificationsApi/static/admin/img/LICENSE
NotificationsApi/static/admin/img/README.txt
NotificationsApi/static/admin/img/search.svg
NotificationsApi/static/admin/img/selector-icons.svg
NotificationsApi/static/admin/img/sorting-icons.svg
NotificationsApi/static/admin/img/tooltag-add.svg
NotificationsApi/static/admin/img/tooltag-arrowright.svg
NotificationsApi/static/admin/img/gis/move_vertex_off.svg
NotificationsApi/static/admin/img/gis/move_vertex_on.svg
NotificationsApi/static/admin/js/actions.js
NotificationsApi/static/admin/js/autocomplete.js
NotificationsApi/static/admin/js/calendar.js
NotificationsApi/static/admin/js/cancel.js
NotificationsApi/static/admin/js/change_form.js
NotificationsApi/static/admin/js/collapse.js
NotificationsApi/static/admin/js/core.js
NotificationsApi/static/admin/js/filters.js
NotificationsApi/static/admin/js/inlines.js
NotificationsApi/static/admin/js/jquery.init.js
NotificationsApi/static/admin/js/nav_sidebar.js
NotificationsApi/static/admin/js/popup_response.js
NotificationsApi/static/admin/js/prepopulate_init.js
NotificationsApi/static/admin/js/prepopulate.js
NotificationsApi/static/admin/js/SelectBox.js
NotificationsApi/static/admin/js/SelectFilter2.js
NotificationsApi/static/admin/js/theme.js
NotificationsApi/static/admin/js/urlify.js
NotificationsApi/static/admin/js/admin/DateTimeShortcuts.js
NotificationsApi/static/admin/js/admin/RelatedObjectLookups.js
NotificationsApi/static/admin/js/vendor/jquery/jquery.js
NotificationsApi/static/admin/js/vendor/jquery/jquery.min.js
NotificationsApi/static/admin/js/vendor/jquery/LICENSE.txt
NotificationsApi/static/admin/js/vendor/select2/LICENSE.md
NotificationsApi/static/admin/js/vendor/select2/select2.full.js
NotificationsApi/static/admin/js/vendor/select2/select2.full.min.js
NotificationsApi/static/admin/js/vendor/select2/i18n/af.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ar.js
NotificationsApi/static/admin/js/vendor/select2/i18n/az.js
NotificationsApi/static/admin/js/vendor/select2/i18n/bg.js
NotificationsApi/static/admin/js/vendor/select2/i18n/bn.js
NotificationsApi/static/admin/js/vendor/select2/i18n/bs.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ca.js
NotificationsApi/static/admin/js/vendor/select2/i18n/cs.js
NotificationsApi/static/admin/js/vendor/select2/i18n/da.js
NotificationsApi/static/admin/js/vendor/select2/i18n/de.js
NotificationsApi/static/admin/js/vendor/select2/i18n/dsb.js
NotificationsApi/static/admin/js/vendor/select2/i18n/el.js
NotificationsApi/static/admin/js/vendor/select2/i18n/en.js
NotificationsApi/static/admin/js/vendor/select2/i18n/es.js
NotificationsApi/static/admin/js/vendor/select2/i18n/et.js
NotificationsApi/static/admin/js/vendor/select2/i18n/eu.js
NotificationsApi/static/admin/js/vendor/select2/i18n/fa.js
NotificationsApi/static/admin/js/vendor/select2/i18n/fi.js
NotificationsApi/static/admin/js/vendor/select2/i18n/fr.js
NotificationsApi/static/admin/js/vendor/select2/i18n/gl.js
NotificationsApi/static/admin/js/vendor/select2/i18n/he.js
NotificationsApi/static/admin/js/vendor/select2/i18n/hi.js
NotificationsApi/static/admin/js/vendor/select2/i18n/hr.js
NotificationsApi/static/admin/js/vendor/select2/i18n/hsb.js
NotificationsApi/static/admin/js/vendor/select2/i18n/hu.js
NotificationsApi/static/admin/js/vendor/select2/i18n/hy.js
NotificationsApi/static/admin/js/vendor/select2/i18n/id.js
NotificationsApi/static/admin/js/vendor/select2/i18n/is.js
NotificationsApi/static/admin/js/vendor/select2/i18n/it.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ja.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ka.js
NotificationsApi/static/admin/js/vendor/select2/i18n/km.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ko.js
NotificationsApi/static/admin/js/vendor/select2/i18n/lt.js
NotificationsApi/static/admin/js/vendor/select2/i18n/lv.js
NotificationsApi/static/admin/js/vendor/select2/i18n/mk.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ms.js
NotificationsApi/static/admin/js/vendor/select2/i18n/nb.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ne.js
NotificationsApi/static/admin/js/vendor/select2/i18n/nl.js
NotificationsApi/static/admin/js/vendor/select2/i18n/pl.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ps.js
NotificationsApi/static/admin/js/vendor/select2/i18n/pt-BR.js
NotificationsApi/static/admin/js/vendor/select2/i18n/pt.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ro.js
NotificationsApi/static/admin/js/vendor/select2/i18n/ru.js
NotificationsApi/static/admin/js/vendor/select2/i18n/sk.js
NotificationsApi/static/admin/js/vendor/select2/i18n/sl.js
NotificationsApi/static/admin/js/vendor/select2/i18n/sq.js
NotificationsApi/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
NotificationsApi/static/admin/js/vendor/select2/i18n/sr.js
NotificationsApi/static/admin/js/vendor/select2/i18n/sv.js
NotificationsApi/static/admin/js/vendor/select2/i18n/th.js
NotificationsApi/static/admin/js/vendor/select2/i18n/tk.js
NotificationsApi/static/admin/js/vendor/select2/i18n/tr.js
NotificationsApi/static/admin/js/vendor/select2/i18n/uk.js
NotificationsApi/static/admin/js/vendor/select2/i18n/vi.js
NotificationsApi/static/admin/js/vendor/select2/i18n/zh-CN.js
NotificationsApi/static/admin/js/vendor/select2/i18n/zh-TW.js
NotificationsApi/static/admin/js/vendor/xregexp/LICENSE.txt
NotificationsApi/static/admin/js/vendor/xregexp/xregexp.js
NotificationsApi/static/admin/js/vendor/xregexp/xregexp.min.js
NotificationsApi/static/rest_framework/css/bootstrap-theme.min.css
NotificationsApi/static/rest_framework/css/bootstrap-theme.min.css.map
NotificationsApi/static/rest_framework/css/bootstrap-tweaks.css
NotificationsApi/static/rest_framework/css/bootstrap.min.css
NotificationsApi/static/rest_framework/css/bootstrap.min.css.map
NotificationsApi/static/rest_framework/css/default.css
NotificationsApi/static/rest_framework/css/font-awesome-4.0.3.css
NotificationsApi/static/rest_framework/css/prettify.css
NotificationsApi/static/rest_framework/docs/css/base.css
NotificationsApi/static/rest_framework/docs/css/highlight.css
NotificationsApi/static/rest_framework/docs/css/jquery.json-view.min.css
NotificationsApi/static/rest_framework/docs/img/favicon.ico
NotificationsApi/static/rest_framework/docs/img/grid.png
NotificationsApi/static/rest_framework/docs/js/api.js
NotificationsApi/static/rest_framework/docs/js/highlight.pack.js
NotificationsApi/static/rest_framework/docs/js/jquery.json-view.min.js
NotificationsApi/static/rest_framework/fonts/fontawesome-webfont.eot
NotificationsApi/static/rest_framework/fonts/fontawesome-webfont.svg
NotificationsApi/static/rest_framework/fonts/fontawesome-webfont.ttf
NotificationsApi/static/rest_framework/fonts/fontawesome-webfont.woff
NotificationsApi/static/rest_framework/fonts/glyphicons-halflings-regular.eot
NotificationsApi/static/rest_framework/fonts/glyphicons-halflings-regular.svg
NotificationsApi/static/rest_framework/fonts/glyphicons-halflings-regular.ttf
NotificationsApi/static/rest_framework/fonts/glyphicons-halflings-regular.woff
NotificationsApi/static/rest_framework/fonts/glyphicons-halflings-regular.woff2
NotificationsApi/static/rest_framework/img/glyphicons-halflings-white.png
NotificationsApi/static/rest_framework/img/glyphicons-halflings.png
NotificationsApi/static/rest_framework/img/grid.png
NotificationsApi/static/rest_framework/js/ajax-form.js
NotificationsApi/static/rest_framework/js/bootstrap.min.js
NotificationsApi/static/rest_framework/js/coreapi-0.1.1.js
NotificationsApi/static/rest_framework/js/csrf.js
NotificationsApi/static/rest_framework/js/default.js
NotificationsApi/static/rest_framework/js/jquery-3.5.1.min.js
NotificationsApi/static/rest_framework/js/prettify-min.js
NotificationsApi/dev.env
cred.json
NotificationsApi/NotificationsApi/__pycache__/__init__.cpython-310.pyc
NotificationsApi/NotificationsApi/__pycache__/settings.cpython-310.pyc
NotificationsApi/NotificationsApi/__pycache__/urls.cpython-310.pyc
NotificationsApi/NotificationsApi/__pycache__/wsgi.cpython-310.pyc
NotificationsApi/__pycache__/manage.cpython-310.pyc
.gitignore
.gitignore
NotificationsApi/FirebasePushApi/__pycache__/cron.cpython-310.pyc
cron.log
venv/*
.*
