NotificationsApi/FirebasePushApi/__pycache__/*
NotificationsApi/FirebasePushApi/migrations/*
NotificationsApi/static/*
NotificationsApi/dev.env
cred.json
NotificationsApi/NotificationsApi/__pycache__/*
NotificationsApi/__pycache__/*
cron.log
venv/*
.*
